<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script src="/javascripts/all.min.js"></script> {{!-- JS fontawesome --}}
  <title>MADE IN CHACO</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/aos.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel='stylesheet' href='/stylesheets/styles.css' />
  <link rel='stylesheet' href='/stylesheets/admin.css' />

</head>

<body>
  <header class="cabezal">
    <div class="contenedor-cabezal">
      <a href="/">
        <h2 translate="no">MADE IN <br>CHACO</h2>
      </a>
      <nav class="menu-superior">
        <ul class="redes paginas">
          <li><a href=""><i class="icono fab fa-facebook-square"></i></a></li>
          <li><a href="https://www.instagram.com/madeinchacoargentina/?hl=es-la" target="_blank"><i
                class="icono fab fa-instagram"></i></a></li>
          <li><a href=""><i class="icono fab fa-twitter-square"></i></a></li>
        </ul>
    </div>
  </header>

  {{{body}}}

  <footer>
    <p>Sitio oficial <span translate="no">Made in Chaco</span> &copy; 2021</p>
  </footer>

  <script src="/javascripts/aos.js">
  </script>
  <script>
    AOS.init();
  </script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>