
<div class="contenedor">
    <main>
        <div class="cuerpo">
            <div class="container">
                <div class="row">

                    <h3>INGRESO</h3>
                    <hr>
                        <form action="/admin/login" method="post">
                            <div class="mb-3 row">
                                {{!-- <label for="inputUser" class="col-sm-2 col-form-label">Usuario</label> --}}
                                <div class="col">
                                    <input type="text" class="form-control" id="inputUser" placeholder="Usuario"
                                        name="usuario">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                {{!-- <label for="inputPassword" class="col-sm-2 col-form-label">Password</label> --}}
                                <div class="col">
                                    <input type="password" class="form-control" id="inputPassword"
                                        placeholder="Contraseña" name="password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Ingresar</button>

                            {{#if error }}
                            <div class="alert alert-warning" role="alert">
                                <p>Usuario o contraseña son incorrecto</p>
                            </div>

                            {{/if}}
                        </form>
                    
                </div>

            </div>
        </div>
    </main>
</div>