<div class="contenedor">
<main>
    <div class="cuerpo">
        <div class="form">
            <h3>CONTACTANOS</h3>
            <hr>
            <form action="/contacto" method="POST" class="formulario">

                <input type="text" placeholder="Nombre" name="nombre" required>

                <input type="text" placeholder="Apellido" name="apellido">

                <input type="tel" placeholder="Teléfono" name="telefono">

                <input type="email" placeholder="Email" required name="email">

                <textarea placeholder="Deje su mensaje..." name="comentarios" required></textarea>

                <input class="" type="submit" value="ENVIAR">

            </form>
           <p> {{message}} </p>
        </div>
    </div>

</main>
</div>