/*Admin contenido*/

.container {
    font-size: 1.8rem;
}

.container p {
    font-weight: 600 ;
}

.saludo {
    color: #fff;
}

.container  a {
    font-size: 1.5rem;
}

.listado {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.container-fluid {
    padding: 0;
}

.container-fluid form{
    display: flex;
    align-items: center;
}

.container-fluid form button {
    margin: 0;
}

.form-control {
    height: 2rem;
}

.saludo .cerrar {
    margin: auto 0;
    
}

.saludo .cerrar a {
    font-size: 1.5rem;
}

/* admin login */

.alert {
    margin-top: 5rem;
    text-align: center;
}

.container form {
    text-align: center;
}

.container form  input, .container form textarea {
    border: solid ;
    font-size: 1.5rem;
    resize: none;
}

.container button { 
    margin-top: 2rem;
    font-size: 1.5rem;
}

@media screen and (max-width:576px) {

    
    /*LAYOUT*/

    .container {
        padding: 0;
        text-align: center;
    }

    .row {
        width: 100%;
    }

    .row.tabla {
        margin: 0  auto;
        font-size: 1.2rem;
    }

    .col {
        padding: 0;
        margin: .5rem;
    }

    .cabezal {
        width: 100vw;
    }

    .contenedor-cabezal {
    margin: .2rem 0 0 0;
    }

    .contenedor-cabezal a h2 {
        width: max-content;
    }

    .saludo {
        margin: auto;
        align-items: center;
    }

    .saludo .cerrar {
        width: max-content;
    }

    .saludo .cerrar a {
        font-size: 1.2rem;
    }

    .saludo h1 {
        font-size: 1.5rem;
    }

    .listado {
        margin: auto;
    }

    .listado form input {
        font-size: 1.2rem;
        height: 1.5rem;
    }

    .listado .btn {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 1rem;
    }

    /*LOGIN*/

    .container div {
        width: 100%;
    }
    

    .container .row form {
        padding: 0;
        width: 100%;
    }
    
    .container .row form div{
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .container .row form .row input{
        width: 50%;
        margin: auto;
    }
}

